#bigPage{
    margin-top: 15px;
    
}

.jumbotron{
    background-image: url("../assets/homeBG.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right ;
}

